
<section class="white-section" id="title">
  <div class="title container-fluid">
    <div class="row">
        <div class="col-sm">
        <img class="title-image" src="/images/perfect_hand1.png" />
        </div>
        <div class="col-sm">
        <h1>Track your competitive Euchre stats.</h1>
        </div>
    </div>
  </div>
</section>


{{!-- 
<h1>{{title}}</h1>
{{#if isAuthenticated }}
<p>Hi {{username}}!</p>
<p> {{fullName}} </p>
<a href="/users/id">View ID token claims</a>
<br>
<a href="/auth/acquireToken">Acquire a token to call the Microsoft Graph API</a>
<br>
<a href="/auth/signout">Sign out</a>
{{else}}
<p>Welcome to {{title}}</p>
<a href="/auth/signin">Sign in</a>
{{/if}} 
--}}